*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--light-bg);
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    font-weight: 400;
    color: var(--white);
    text-align: center;
    padding: 14vh;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: black;
    margin: 0;
    text-transform: uppercase;
}

h4 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    margin-bottom: 0;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

/*------------------farver------------------*/
/* Variabler */
:root {
    --light-bg: #F7F9FF;
    --white: #FFFFFF;
    --blue: #57C7F2;
    --beige: #D9CFC7;
    --dark-section: #2E2E2E;
    --dark-blue: #0A2463;

}

/* farver på classes */
.black{
    color: var(--dark-section);
}
.blue-border{
    border: 3px;
    color: var(--blue);
}
.blue{
    color: var(--blue);
}
.white{
    color: var(--white);
}

.white-bg{
    background-color: var(--white);
}

.white-blue{
    color: var(--light-bg);
}
.beige{
    background-color: var(--beige);
}
.dark-blue{
    color: var(--dark-blue);
}
/*------------------NAVIGATION------------------*/
nav {
    background-color: var(--dark-section);
    height: 70px;
    width: 100%;
}

.nav-forside {
    background-color: rgba(46, 46, 46, 0.822);
    position: absolute;
    z-index: 10;
}

nav > ul{
    float: right;
    margin: 0 20px 0 0;
    height: 70px;
}
nav > ul > li{
   list-style-type: none;
   text-transform: uppercase;
   display: inline-block;
   padding: 22px 5px;
}

nav > ul > li > a{
    color: var(--white);
}

.opret{
    background-color: var(--blue);
    height: 70px;
    width: 110px;
    padding: 10px;
    text-align: center;
}
/*------------------FOOTER------------------*/
footer{
    height: 395px;
    max-width: 100%;
    background-color: var(--dark-section);
}
footer > div > h3{
    color: var(--white);
}
footer > div > p{
    color: var(--white);
}
footer > ul > li{
    list-style-type: none;
}
.logo{
    width: 202px;
    height: 65px;
}
.icon{
    font-size: 4vw;
    color: var(--white);
}

.SoMe{
     display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: space-around; */
}

/*link styling*/
/* Denne er for generel og vil skabe problemer med andre links*/
a {
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    cursor: pointer;
    /*font-weight: 400;
    color: var(--white);*/
}
a:hover{
    color: var(--blue);
}

.button {
    height: 53px;
    width: 202px;
    border: 3px solid var(--blue);
    text-align: center;
}

/* hero billeder */
.hero {
    height: 50vh;
    background-size: 100%;
    background-repeat: no-repeat;
}



/*------------------FORSIDE------------------*/


/*hero video*/
.hero-video{
    width: 100%;
}

/*-------sektion livskvalitet-------*/
.img-text{
    /*10px af 8 gange reduceret ned i størrelse*/
    display: flex;
    flex-direction: row;
    margin: 100px 0;
}

/* billede til venstre og tekst til højre*/
.img-left{
    /*10px af 12 gange reduceret ned i størrelse*/
    width: 50vw;
    position: relative;
    top: 6vh;
}
.right-box{
    /*10px af 12 gange reduceret ned i størrelse*/
    height: 83vh;
    width: 56vw;
    z-index: -4;
    position: absolute;
    right: 0;
    padding-left: 200px;
    padding-right: 228px;   
}

/* tekst til venstre og billede til højre*/
.left-box{
    /*10px af 12 gange reduceret ned i størrelse*/
    height: 83vh;
    width: 56vw;
    z-index: -4;
    position: relative;
    padding-left: 228px;
    padding-right: 200px;
}
.img-right{
    /*10px af 12 gange reduceret ned i størrelse*/
    width: 50vw;
    position: absolute;
    right: 0;
    padding-top: 4%;
}
/*-------sektion tre bokse-----*/
.three-boxes{
    /*10px af 22 gange reduceret ned i størrelse*/
    height: 400px;
    width: 100%;
    background-color: var(--dark-section);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*center center herunder gør, at boksene er centreret fuldstændig*/
    align-items: center;
    justify-content: space-between;
    padding: 0 228px;
}

.black-box{
    background-color: #0B0F18;
    /*laves responsivt*/
    height: 260px;
    width: 32%;
    padding: 100px 0;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

.black-box:hover{
    box-shadow: 0 0 0 3px var(--blue);
}


/*------------------PRISER------------------*/
.priser {
    background-image: url(../images/hero/hero-billede7.png);
}

.pris-box {
    padding: 60px 228px;
    display: flex;
    flex-wrap: wrap;
}

.pris-box > article{
    width: 33%;
    height: 538px;
    background-color: var(--beige);
    text-align: center;
    padding: 3% 6%;
}

.pris-box > article:nth-child(even) {
    background-color: #E8DFD8;
}

.medlemspris {
    font-size: 50px;
}

.pris-box > article > a > .button {
    margin: auto;
}

.button > p {
    font-weight: 700;
    color: var(--blue);
}

.blue-box {
    background-color: var(--blue) !important;
}


/*------------------Fordele------------------*/
/*------------------BOOTCAMPS------------------*/
/*------------------GIRLS BOOTCAMP------------------*/
/*------------------HANDELSBETINGELSER------------------*/
.handelsbetingelser{
    background-image: url('../images/hero/hero-billede8.png');
}

.handel-grid:nth-child(odd) {
    padding: 5% 100px 5% 228px;
}

.handel-grid:nth-child(even) {
    padding: 5% 228px 5% 100px;
}

.handel1{grid-area: handel1;}
.handel2{grid-area: handel2;}
.handel3{grid-area: handel3;}
.handel4{grid-area: handel4;}

.grid-handel{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'handel1 handel2'
    'handel3 handel4' ;
    margin: 10vh 0;
}

/*------------------HOLDBESKRIVELSER------------------*/
.holdbeskriv{
    background-image: url(../images/hero/hero-billede3.png);
}

/*------------------HOLDPLAN------------------*/
.hold-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px 228px;
    justify-content: space-between;
}

.hold-box {
    background-color: var(--beige);
    width: 22vw;
    height: 320px;
    text-align: center;
    margin-bottom: 25px;
}

.hold-box > img {
    width: 100%;
}

.hold-box:nth-child(3n+2){
    transform: translateY(160px);
}

.hide {
    visibility: hidden;
}

/*------------------INTROFORLØB------------------*/
.introforløb{
    background-image: url('../images/hero/hero-billede1.png');
}

/*------------------KOSTVEJLEDNING------------------*/
.kostvejledning{
    background-image: url('../images/hero/hero-billede2.png');
}


/*------------------MEDLEMSBETINGELSER------------------*/
.medlemsbetingelser{
    background-image: url(../images/hero/hero-billede8.png);
}

.show-more {
    margin: 50px 228px ;
}

.accordion {
    background-color: var(--beige);
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    /*transition: 5s;*/
  }
  
.active, .accordion:hover {
    background-color: #E8DFD8; 
  }
  
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
/*------------------NYE MEDLEMMER------------------*/
/*------------------OM CFAA------------------*/
.om-os {
    background-image: url(../images/hero/hero-billede8.png);
}

.dark-section {
    height: 400px;
    width: 100%;
    background-color: var(--dark-section);
}

.dark-section > h3 {
    color: var(--white);
    text-align: center;
    padding: 20px;
}



/*------------------PERSONLIG TRÆNING------------------*/
.personlig-træning{
    background-image: url('../images/hero/hero-billede2.png');
}

.personlig-grid:nth-child(odd) {
    padding: 5% 100px 5% 228px;
}

.personlig-grid:nth-child(even) {
    padding: 5% 228px 5% 100px;
}

.personlig1{grid-area: personlig1;}
.personlig2{grid-area: personlig2;}
.personlig3{grid-area: personlig3;}
.personlig4{grid-area: personlig4;}
.personlig5{grid-area: personlig5;}
.personlig6{grid-area: personlig6;}



.grid-personlig{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'personlig1 personlig2'
    'personlig3 personlig4'
    'personlig5 personlig6' ;
    margin: 10vh 0;
}
/*------------------REGLER------------------*/
/*------------------SHOP------------------*/
/*------------------VIRKSOMHED------------------*/
.virksomhed{
    background-image: url('../images/hero/hero-billede7.png');
}

/*------------------VORES TRÆNING------------------*/
.træning{
    background-image: url('../images/hero/hero-billede7.png');

}



