*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--light-bg);
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    font-weight: 400;
    color: var(--white);
    text-align: center;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 400;
    color: black;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: black;
}

h4 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: black;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: black;
    line-height: 1.2;
}

/*------------------farver------------------*/
/* Variabler */
:root {
    --light-bg: #F7F9FF;
    --white: #FFFFFF;
    --blue: #57C7F2;
    --beige: #D9CFC7;
    --dark-section: #2E2E2E;
    --dark-blue: #0A2463;

}

/* farver på classes */
.black{
    color: var(--dark-section);
}
.blue-border{
    border: 3px;
    color: var(--blue);
}
.blue{
    color: var(--blue);
}
.white{
    color: var(--white);
}

.white-blue{
    color: var(--light-bg);
}
.beige{
    background-color: var(--beige);
}
.dark-blue{
    color: var(--dark-blue);
}
/*------------------NAVIGATION------------------*/

.nav > ul{
    float: right;
    margin-right: 20px;
}
.nav > ul > li{
   list-style-type: none;
   text-transform: uppercase;
   display: inline-block;
   padding-left: 5px;
}
.nav {
    background-color: var(--dark-section);
    height: 50px;
    width: 100vw;
}

/*------------------link styling------------------*/
a {
    text-decoration: none;
    color: var(--white);
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
}
a:hover{
    color: var(--blue);
}

/*------------------FORSIDE------------------*/

.nav{grid-area: nav;}
.hero-video{grid-area: hero-video;}
.livskvalitet{grid-area: livskvalitet;}
.footer-forside{grid-area: footer-forside;}

.grid-forside{
    display: grid;
    grid-template-areas: 
    'nav nav'
    'hero-video hero-video'
    'livskvalitet livskvalitet'
    'footer-forside footer-forside';

}

/*------------------hero video------------------*/
.hero-video{
    width: 100vw;
}

/*------------------sektion livskvalitet------------------*/
.livskvalitet{
    height: 708px;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.img-forside{
    height: 593px;
    width: 959px;
}

.box{
    height: 708px;
    width: 1072px;
    /* z-index: -4px; */
}


/*------------------PRISER------------------*/








/*------------------Fordele------------------*/
/*------------------BOOTCAMPS------------------*/
/*------------------GIRLS BOOTCAMP------------------*/
/*------------------HANDELSBETINGELSER------------------*/
/*------------------HOLDBESKRIVELSER------------------*/
/*------------------HOLDPLAN------------------*/
/*------------------INTROFORLØB------------------*/
/*------------------KOSTVEJLEDNING------------------*/
/*------------------MEDLEMSBETINGELSER------------------*/
/*------------------NYE MEDLEMMER------------------*/
/*------------------OM CFAA------------------*/
/*------------------PERSONLIG TRÆNING------------------*/
/*------------------REGLER------------------*/
/*------------------SHOP------------------*/
/*------------------VIRKSOMHED------------------*/



