*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--light-bg);
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    font-weight: 400;
    color: var(--white);
    text-align: center;
    padding: 14vh;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: black;
    margin: 0;
    text-transform: uppercase;
}

h4 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: black;
}

/*------------------farver------------------*/
/* Variabler */
:root {
    --light-bg: #F7F9FF;
    --white: #FFFFFF;
    --blue: #57C7F2;
    --beige: #D9CFC7;
    --dark-section: #2E2E2E;
    --dark-blue: #0A2463;

}

/* farver på classes */
.black{
    color: var(--dark-section);
}
.blue-border{
    border: 3px;
    color: var(--blue);
}
.blue{
    color: var(--blue);
}
.white{
    color: var(--white);
}

.white-bg{
    background-color: var(--white);
}

.white-blue{
    color: var(--light-bg);
}
.beige{
    background-color: var(--beige);
}
.dark-blue{
    color: var(--dark-blue);
}
/*------------------NAVIGATION------------------*/

.nav > ul{
    float: right;
    margin-right: 20px;
}
.nav > ul > li{
   list-style-type: none;
   text-transform: uppercase;
   display: inline-block;
   padding-left: 5px;
}
.nav {
    background-color: var(--dark-section);
    height: 105px;
    max-width: 100%;
}
.opret{
    color: var(--white);
    background-color: var(--blue);
    height: 65px;
    /*width: 100vw;*/
}
/*------------------FOOTER------------------*/
footer{
    height: 395px;
    max-width: 100%;
    background-color: var(--dark-section);
}
footer > div > h3{
    color: var(--white);
}
footer > p{
    color: var(--white);
}
footer > ul > li{
    list-style-type: none;
}
.icon{
  
    font-size: 4vw;
    color: var(--white);
}
.kontakt{

}
.SoMe{
     display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-around;
}

/*link styling*/
/* Denne er for generel og vil skabe problemer med andre links*/
a {
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    cursor: pointer;
    /*font-weight: 400;
    color: var(--white);*/
}
a:hover{
    color: var(--blue);
}

.button {
    height: 53px;
    width: 202px;
    border: 3px solid var(--blue);
    text-align: center;
}

/* hero billeder */
.hero {
    height: 50vh;
}



/*------------------FORSIDE------------------*/


/*hero video*/
.hero-video{
    width: 100%;
}

/*-------sektion livskvalitet-------*/
.livskvalitet{
    /*10px af 8 gange reduceret ned i størrelse*/
    display: flex;
    flex-direction: row;
    margin: 100px 0;
}

.img-forside{
    /*10px af 12 gange reduceret ned i størrelse*/
    width: 50vw;
    position: relative;
    top: 6vh;
}

.box{
    /*10px af 12 gange reduceret ned i størrelse*/
    height: 83vh;
    width: 56vw;
    z-index: -4;
    position: absolute;
    right: 0;
    padding-left: 200px;
}
/*-------sektion tre bokse-----*/
.three-boxes{
    /*10px af 22 gange reduceret ned i størrelse*/
    height: 450px;
    width: 100%;
    background-color: var(--dark-section);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*center center herunder gør, at boksene er centreret fuldstændig*/
    align-items: center;
    justify-content: space-between;
    padding: 0 228px;
    
}

.black-box{
    background-color: #0B0F18;
    /*laves responsivt*/
    height: 327px;
    width: 32%;
    padding: 100px 0;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

.black-box:hover{
    box-shadow: 0 0 0 3px var(--blue);
}


/*------------------PRISER------------------*/
.priser {
    background-image: url(../images/hero/hero-billede4.png);
}

.pris-box {
    padding: 60px 228px;
    display: flex;
    flex-wrap: wrap;
}

.pris-box > article{
    width: 33%;
    height: 538px;
    background-color: var(--beige);
    text-align: center;
    padding: 3% 6%;
}

.pris-box > article:nth-child(even) {
    background-color: #E8DFD8;
}

.medlemspris {
    font-size: 50px;
}

.pris-box > article > a > .button {
    margin: auto;
}

.button > p {
    font-weight: 700;
    color: var(--blue);
}

.blue-box {
    background-color: var(--blue) !important;
}


/*------------------Fordele------------------*/
/*------------------BOOTCAMPS------------------*/
/*------------------GIRLS BOOTCAMP------------------*/
/*------------------HANDELSBETINGELSER------------------*/
.handelsbetingelser{
    background-image: url('../images/hero/hero-billede8.png');
}

.handel-grid{
    padding: 5%;
}

.handel1{grid-area: handel1;}
.handel2{grid-area: handel2;}
.handel3{grid-area: handel3;}
.handel4{grid-area: handel4;}

.grid-handel{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'handel1 handel2'
    'handel3 handel4' ;
    margin: 10vh 0;
}






/*------------------HOLDBESKRIVELSER------------------*/
/*------------------HOLDPLAN------------------*/
/*------------------INTROFORLØB------------------*/
/*------------------KOSTVEJLEDNING------------------*/
/*------------------MEDLEMSBETINGELSER------------------*/
/*------------------NYE MEDLEMMER------------------*/
/*------------------OM CFAA------------------*/
/*------------------PERSONLIG TRÆNING------------------*/
/*------------------REGLER------------------*/
/*------------------SHOP------------------*/
/*------------------VIRKSOMHED------------------*/



