@media screen and (min-width: 320px) and (max-width: 600px){
    /*SKAL SES MED IPHONE X*/
    /* fælles for alle sider*/

    /*Overskrifter*/
    h1 {
        font-size: 50px;
        /* padding: 14vh; */
        margin: 0;
    }
    
    h2 {
        font-size: 30px;
        margin: 0;
    }
    
    h3 {
        font-size: 20px;
        margin: 0;
    }
    
    h4 {
        font-size: 15px;
        margin-bottom: 0;
    }
    
    p {
        font-size: 10px;
    }

    /*links*/
    .button>a{
        /* font-size: 10px; */
    }

    /*FOOTER*/
    footer{
        height: 509px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .SoMe{
        height: 15px;
    }
    .face-icon{
        width: 15px;
    }

    /*hero*/
    .hero{
        height: 146px;
    }

    /*------------------FORSIDE------------------*/
    /*-------sektion livskvalitet-------*/
    .img-text {
        display: flex;
        flex-direction: column;
        /* margin: 50px 0;
        height: 83vh; */
    }
    .img {
        width: 100%;
    }
    .img-right{
        transform: translateX(0%);
    }
    .right-box, .left-box {
        height: 103px;
        width: 100%;
        /* position: absolute;
        right: 0;
        padding-left: 12vw;
        padding-right: 12vw;
        display: table; */
    }
      .center{
        display: flex;
        flex-direction: row;
    }
    .p-hide{
        display: none;
    }

    /*-------sektion tre bokse-----*/
    .three-boxes{
        height: 231px;
    }

    .black-box{
        height: 187px;
        width: 32%;
        padding: 100px 30px;
        font-size: 15px;

    }





    /*------------------GIRL'S BOOTCAMP------------------*/
    /*------------------HANDELSBETINGELSER------------------*/
    .grid-handel{
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
    'handel1' 
    'handel2' 
    'handel4'
    'handel3';
    }


    /*------------------HOLDBESKRIVELSER - KOPI2------------------*/
    /*------------------HOLDPLAN------------------*/
    /*------------------INTROFORLØB------------------*/
    /*------------------KOSTVEJLEDNING------------------*/
    /*------------------MEDLEMSBETINGELSER------------------*/
    /*------------------NYE MEDLEMMER------------------*/
    /*------------------OM CFAA------------------*/
    /*------------------PERSONLIG TRÆNING------------------*/
    /*------------------PRISER------------------*/
    /*------------------REGLER------------------*/
    /*------------------SHOP------------------*/
    /*------------------VIRKSOMHED------------------*/
    /*------------------VORES TRÆNING------------------*/




}